curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['master'][0]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['master-member'][0]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker1'][0]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker1'][1]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker1'][2]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker2'][0]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker2'][1]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}
curl -H "X-Requested-By:ambari" -u admin:admin -i -X POST -d '{"host_components" : [{"HostRoles" : {"component_name":"KERBEROS_CLIENT"}}]}' http://localhost:8080/api/v1/clusters/{{clustername}}/hosts?Hosts/host_name={{hostvars[groups['worker2'][2]].inventory_hostname.split('.')[0]|lower}}.{{ad_domain_lower}}